
*.pbxproj
*.pbxproj
*.xcworkspacedata
*.plist
Own-VK-App/Own-VK-App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Own-VK-App/Own-VK-App.xcodeproj/project.xcworkspace/contents.xcworkspacedata
